@media only screen
  and (min-device-width: 480px){

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  background-color: #f6f6f6;
}

.header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 75px;
  background-color: #FFFFFF;
  padding-right:64px;
  padding-left: 48px;
  position: fixed;
  z-index: 999;
}

.logo img{
  height: 64px;
}
.tabs{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.tab_element{
  font-size: 1vw;
  margin-left: 54px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  padding-left: 10px;
  padding-right: 10px;
}

a:link {
  text-decoration: none;
  color: black;
}

a:visited {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: none;
  color: black;
}

a:active {
  text-decoration: none;
  color: black;
}

.hp{
  border-bottom: 2px solid #184B9E;
  padding-left: 10px;
  padding-right: 10px;
  color: #184B9E;
}
.home img{
  width: 100%;
  filter: brightness(35%);
}

.home{
        position: relative;
        display: inline-block; /* Make the width of box same as image */
  }
.home .text{
        position: absolute;
        font-family: 'Open Sans', sans-serif;
        z-index: 950;
        margin: 0 auto;
        left: 0;
        color: #FFFFFF;
        right: 0;
        top: 35%; /* Adjust this value to move the positioned div up and down */
        text-align: center;
        width: 60%; /* Set the width of the positioned div */
        font-size: 1.5vw;
        width: 900px;
    }

.disc{
  font-size: 1.5vw;
}

.buttons{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 75px;
  margin-top:10%;
}

.button1,
.button2{
  border: 1px white solid;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 15px;
  font-family: 'Open Sans', sans-serif;
}

.button1{
  background-color: #2F80ED;
  border: none;
}

.button1 a:link {
  text-decoration: none;
  color: white;
}

.button1 a:visited {
  text-decoration: none;
  color: white;
}

.button1 a:hover {
  text-decoration: none;
  color: white;
}

.button1 a:active {
  text-decoration: none;
  color: white;
}

.button2 a:link {
  text-decoration: none;
  color: white;
}

.button2 a:visited {
  text-decoration: none;
  color: white;
}

.button2 a:hover {
  text-decoration: none;
  color: white;
}

.button2 a:active {
  text-decoration: none;
  color: white;
}

.spacer{
  width: 10%;
}

.description{
  /*border: 1px solid black;*/
  display: flex;
  margin-top: 50px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #f6f6f6;
  color: #184B9E;
  font-family: 'Quicksand', sans-serif;
}

.description h1{
  border-bottom: 2px solid #184B9E;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 50px;
}

.process{
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 50px;
}

.process:first-of-type{
}
.process img{
  height: 250px;
  margin:100px;
}

.process_description{
  display: flex;
  flex-direction: row;
  /*border: 1px solid blue;*/
  align-items: center;
  width: 25%;
  margin-left: 30px;
}

.number{
  display: flex;
  align-items: center;
  /*border: 1px solid green;*/
  font-size: 2vw;
  color: #2F80ED;
  font-family: 'Open Sans', sans-serif;
  margin: 50px;
}

.general_process{
  display: flex;
  flex-direction: column;
}

.process_title{
  /*border: 1px solid orange;*/
  font-size: 2vw;
  color: #2F80ED;
  font-family: 'Open Sans', sans-serif;
}

.process_detail{
  /*border: 1px solid purple;*/
  font-size: 1vw;
  font-family: 'Open Sans', sans-serif;
}
.footer_spacer{
  height:75px;
}

.footer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 50px;
  padding-right: 50px;
  align-items: center;
  background-color: #007AB4;
  font-family: 'Open Sans', sans-serif;
  color: #FFFFFF;
  padding:20px;
  height: 65px;
  font-size: .9em;
  width: 100%;
}

.credits{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.designer{
  display: flex;
  flex-direction: row;
}
.ig{
  margin-left: 10px;
}

.contact{
  display: flex;
  flex-direction: column;
  font-size: 1em;
}

.footer_questions{
  display: flex;
}
.questions_contact{
  display: flex;
  flex-direction: row;
}

.socials{
  display: flex;
  flex-direction: column;
}

.follow_socials{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.box{
  display: flex;
  justify-content: space-between;
}

.box i{
  font-size: 36px;
}

.legal{
  display: flex;
  flex-direction: column;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

/* RESOURCES PAGE*/
#resource-page {background-color:#F7F7F7;}
#resource-page {align-items: center;}

.headerspacer{
  height: 75px;
}

.map{
  display: flex;
  align-items: center;
  justify-content: center;
}

.facts{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: 'Open Sans', sans-serif;
  width: 1000px;
  height: 230px;
  margin: 50px;
  margin-bottom: 90px;
}

.mf_title{
  margin-bottom: 10px;
}

.mf_descript{
  width: 285px;
  margin-bottom: 10px;
}



.mfb1{
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Open Sans', sans-serif;
  width: 285px;
  color: #FFFFFF;
  background-color: #037ED7;
  border-radius: 3px;
  margin-bottom: 10px;
  height: 30px;
  padding: 10px;
}

.infobox{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 420px;
  background-color: #037ED7;
  border-radius: 3px;
  padding: 20px;
  padding-bottom: 10px;
}

.mfb2{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-family: 'Open Sans', sans-serif;
  width: 285px;
  color: #000000;
  background-color: #FFFFFF;
  border-radius: 3px;
  margin-bottom: 10px;
  height: 40px;
  width: 100%;
  padding: 20px;
  padding-left: 40px;
}

.mfb2 img{
  height: 30px;
  margin-right: 20px;
}

.video_title{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #037ED7;
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  width: 1000px;
  font-size: .75em;
  font-weight: 600;
}

.video{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1000px;
  height: 315px;
  margin-bottom: 90px;
}

.brief{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 420px;
  border-radius:
}

.btitle{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: none;
  width: inherit;
  font-family: 'Open Sans', sans-serif;
}

.bitems{
  display: flex;
  border: 1px solid black;
  flex-direction: column;
  background-color: #037ED7;
  border-radius: 3px;
  height: 260px;
  width: 420px;
  font-family: 'Open Sans', sans-serif;
  margin-top: 10px;
}

.blist{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 340px;
  width: 380px;
  margin: 20px;
  padding-left: 70px;
  padding-top: 20px;
  border-radius: 3px;
  font-family: 'Open Sans', sans-serif;
  background-color: white;
}

.graph_title{
  display: flex;
  flex-direction: row;
  margin-top: 200px;
  height: 50px;
}
.maphere{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1000px;
  height: 50px;
  font-family: 'Open Sans', sans-serif;
  color: black;
}

.california{
  height: inherit;
  width:500px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #037ED7;
  font-size: .75em;
}

.yolo{
  height: inherit;
  width:500px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #D01717;
  font-size: .75em;
}





.mission img{
  width: 100%;
  filter: brightness(30%);
}

.mission{
        position: relative;
        display: inline-block; /* Make the width of box same as image */
  }
.mission .text{
        position: absolute;
        font-family: 'Open Sans', sans-serif;
        z-index: 950;
        margin: 0 auto;
        left: 0;
        color: #FFFFFF;
        right: 0;
        top: 10%; /* Adjust this value to move the positioned div up and down */
        text-align: center;
        width: 60%; /* Set the width of the positioned div */
        font-size: 2vw;
    }
.title h1{
  font-family: "Arvo", sans-serif;
}

.team{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 120px;
  padding-bottom: 120px;
  font-family: 'Open Sans', sans-serif;
  background-color: #F7F7F7;
}

.team img{
  width: 500px;
  height: 300px;
  position: relative;
}

.meetus{
  display: flex;
  flex-direction: column;
  margin-right: 40px;
  height: 300px;
  width: 500px;
  font-size: 120%;
  position: relative;
}

.us{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 300px;
  padding-right: 300px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.us_all{
  display: flex;
  flex-direction: row;
}

.us_me{
  display: flex;
  flex-direction: column;
  margin: 40px;;
  font-family: 'Open Sans', sans-serif;
}

.us_me img{
  width: 300px;
  height: 360px;
}

.me_title{
  margin-top: 20px;
  margin-bottom: 10px;
  width:300px;
}

.me_title p{
  font-weight: 600;
}

.me_descript{
  width: 300px;
}

#blog-page {background-color:#EBF8FF;}
#blog-page {align-items: center;}

.blog_header{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 90px;
  margin-bottom: 30px;
  font-family: 'Arvo', sans-serif;
}

.blog_about{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
  font-family: 'Open Sans', sans-serif;
}

.blog_cont{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-left:350px;
  padding-right:350px;
  margin-bottom: 90px;
}

.blog{
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  margin-right: 30px;
  font-family: 'Open Sans', sans-serif;
}

.blog img{
  height: 200px;
  width: 300px;
}

.blog_title{
  display: flex;
  flex-direction: column;
  width: inherit;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: white;
  padding: 5px;
  padding-bottom:0px;
  height: 80px;
  width: 300px;
}

.blog_title h5{
  font-weight: normal;
}
.blog_descript{
  display: flex;
  width: inherit;
  justify-content: flex-start;
  align-items: flex-start;
  height:100px;
  background-color: white;
  padding: 5px;
  padding-top:0px;
  width: 300px;
}





#blog1 {background-color:#EBF8FF;}
#blog1 {align-items: center;}

.article_title{
  display: flex;
  justify-content: flex-start;
  width: 800px;
  margin-top: 90px;
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
  margin-bottom:20px;
}

.article_descript{
  display: flex;
  justify-content: flex-start;
  width: 800px;
  font-family: 'Open Sans', sans-serif;
  margin-bottom:20px;
}

.author{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 800px;
  font-family: 'Open Sans', sans-serif;
  margin-bottom:20px;
}

.author_word{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.author_info{
  display: flex;
  flex-direction: column;
  font-size: 20px;
  margin-left: 20px;
  font-family: 'Open Sans', sans-serif;
}
.author img{
  border-radius: 50%;
  height: 50px;
}

.author_social{
  display: flex;
  flex-direction: column;
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
}

.social_icons{
  display: flex;
  justify-content: space-between;
}

.blogimage img{
  width: 800px;
}

.article_text{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 800px;
  font-family: 'Open Sans', sans-serif;
}

ol {
  list-style-position: inside;
}

.article_text a:link {
  text-decoration: underline;
  color: black;
}

.article_text a:visited {
  text-decoration: underline;
  color: black;
}

.article_text a:hover {
  text-decoration: underline;
  color: orange;
}

.article_text a:active {
  text-decoration: underline;
  color: orange;
}

.footer a:link {
  text-decoration: none;
  color: white;
}

.footer a:visited {
  text-decoration: none;
  color: white;
}

.footer a:hover {
  text-decoration: none;
  color: white;
}

.footer a:active {
  text-decoration: none;
  color: white;
}

.article_text ul{
  list-style-type: none;
  margin-left: 50px;
}

.article_text em{
  font-style: normal;
  font-weight: bold;
}

.quote{
  font-style: italic;
}

#img1 {display:block;}
#img2 {display:none;}

#tabs {display:flex;}
#dropdown {display:none;}

#desktopcredits {display:flex;}
#mobilecredits {display:none;}

#desktopicon{display:block;}
#mobileicon{display:none;}

#desktoppfp{display: block;}
#mobilepfp{display: none;}

#mobileabout{display:none;}
#desktopabout{display:block;}

}

@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {

    *{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    body{
      display: flex;
      flex-direction: column;
      min-height: 100vh;
      width: 100%;
      background-color: #f6f6f6;
    }

    #img1 {display:none;}
    #img2 {display:block;}

    #tabs {display:none;}
    #dropdown {display:block;}

    #desktopcredits {display:none;}
    #mobilecredits {display:flex;}

    #number {display:none;}

    #desktopicon{display:none;}
    #mobileicon{display:block;}

    #desktoppfp{display: none;}
    #mobilepfp{display: block;}

    #mobileabout{display:block;}
    #desktopabout{display:none;}

    .header{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      height: 100px;
      background-color: #FFFFFF;
      padding-right:64px;
      padding-left: 48px;
      position: fixed;
      z-index: 999;
    }

    .header{
      padding-left: 7%;
      padding-right: 5%;
      font-family: "Roboto", sans-serif;
      font-weight: bold;
      position: fixed;
      z-index: 1;
      top: 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      height: 75px;
      background: #FFFFFF;
    }

    .header-spacer{
      display: flex;
      width:100%;
      height:75px;
      margin-bottom: 75px;
    }

    .name{
      font-size: 28px;
      color: #FFFFFF;
    }
    .menu{
      margin-top: 15px;
    }

    .menu > li{
      display: inline;
      margin-right: 50px;
    }

    .menu > li: last-of-type{
      margin-right: 0;
    }

    .dropdown:hover .features-menu{
      display: flex;
      flex-direction: column;
      background: #FFFFFF;
      border-radius: 5px;
      padding-top: 60px;
      position: absolute;
      top: -25px;
      left: -30px;
      z-index: 1;
    }

    .features-menu li{
      list-style: none;
      border-bottom: 1px solid #000000;
      padding: 0 40px 10px 20px;
      margin: 10px;
    }

    .features-menu li: last-of-type{
      border-bottom: none;
    }

    .dropdown{
      position: relative;
      color: #FFFFFF;
    }

    .dropdown > span{
      z-index: 2;
      position: relative;
      cursor: pointer;
    }

    .features-menu{
      display: none;
    }

    .logo img{
      height: 64px;
    }
    .tabs{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }

    .tab_element{
      font-size: 1vw;
      margin-left: 54px;
      font-family: 'Open Sans', sans-serif;
      font-weight: 600;
      padding-left: 10px;
      padding-right: 10px;
    }

    a:link {
      text-decoration: none;
      color: black;
    }

    a:visited {
      text-decoration: none;
      color: black;
    }

    a:hover {
      text-decoration: none;
      color: black;
    }

    a:active {
      text-decoration: none;
      color: black;
    }

    .hp{
      border-bottom: 2px solid #184B9E;
      padding-left: 10px;
      padding-right: 10px;
      color: #184B9E;
    }
    .home img{
      width: 100%;
      filter: brightness(35%);
    }

    .home{
            position: relative;
            display: inline-block; /* Make the width of box same as image */
      }
    .home .text{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: absolute;
            font-family: 'Open Sans', sans-serif;
            z-index: 950;
            margin: 0 auto;
            left: 0;
            color: #FFFFFF;
            right: 0;
            top: 30%; /* Adjust this value to move the positioned div up and down */
            text-align: center;
            width: 60%; /* Set the width of the positioned div */
            font-size: 1.5em;
            width: 900px;
        }

    .disc{
      display: flex;
      justify-content: center;
      width: 650px;
      font-size: 1.5em;
    }

    .buttons{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 50px;
      margin-top:10%;
    }

    .button1,
    .button2{
      border: 1px white solid;
      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 20px;
      padding-right: 20px;
      border-radius: 15px;
      font-family: 'Open Sans', sans-serif;
      margin: 20px;
      width: 400px;
      font-size: 2em;
    }

    .button1{
      background-color: #2F80ED;
      border: none;
      margin-top:200px;
    }

    .button1 a:link {
      text-decoration: none;
      color: white;
    }

    .button1 a:visited {
      text-decoration: none;
      color: white;
    }

    .button1 a:hover {
      text-decoration: none;
      color: white;
    }

    .button1 a:active {
      text-decoration: none;
      color: white;
    }

    .button2 a:link {
      text-decoration: none;
      color: white;
    }

    .button2 a:visited {
      text-decoration: none;
      color: white;
    }

    .button2 a:hover {
      text-decoration: none;
      color: white;
    }

    .button2 a:active {
      text-decoration: none;
      color: white;
    }

    .spacer{
      width: 10%;
    }

    .description{
      /*border: 1px solid black;*/
      display: flex;
      margin-top: 50px;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      background-color: #f6f6f6;
      color: #184B9E;
      font-family: 'Quicksand', sans-serif;
    }

    .description h1{
      border-bottom: 2px solid #184B9E;
      padding-left: 10px;
      padding-right: 10px;
      margin-bottom: 75px;
      font-size: 3em;
    }

    .process{
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      margin-bottom: 75px;
    }

    .process:first-of-type{
    }
    .process img{
      height: 350px;
      margin: 20px;
    }

    .process_description{
      display: flex;
      flex-direction: row;
      /*border: 1px solid blue;*/
      align-items: center;
      width: 75%;
    }

    .number{
      display: flex;
      align-items: center;
      /*border: 1px solid green;*/
      font-size: 2vw;
      color: #2F80ED;
      font-family: 'Open Sans', sans-serif;
      margin: 50px;
    }

    .general_process{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .process_title{
      /*border: 1px solid orange;*/
      font-size: 3em;
      color: #2F80ED;
      font-family: 'Open Sans', sans-serif;
    }

    .process_detail{
      /*border: 1px solid purple;*/
      font-size: 1.5em;
      font-family: 'Open Sans', sans-serif;
    }

    .footer_spacer{
      height:75px;
    }

    .footer{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding:50px;
      align-items: center;
      background-color: #007AB4;
      font-family: 'Open Sans', sans-serif;
      color: #FFFFFF;
      font-size: 2.8em;
      width: 100%;
      height: 1000px;
    }

    .credits{
      display: flex;
      align-items: center;
      flex-direction: column;
      margin-bottom: 50px;
      width: 100%;
    }

    .desby{
      display: flex;
      width: 100%;
      justify-content: flex-start;
      margin-bottom: 50px;
    }

    .yk{
      margin-right: 30px;
    }
    .designer{
      display: flex;
      flex-direction: row;
    }
    .ig{
      margin-left: 10px;
    }

    .contact{
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 50px;
      width: 100%;
    }

    .footer_questions{
      display: flex;
      width: 100%;
      margin-bottom: 50px;
    }
    .questions_contact{
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      width: 75%;
    }

    .socials{
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      margin-bottom: 30px;
    }

    .footer_follow{
      display: flex;
      width: 100%;
    }

    .box{
      display: flex;
      flex-direction: row;
      justify-content: center;
      width: 100%;
    }

    .box i{
      font-size: 72px;
    }

    .social_icon{
      margin-left: 30px;
      margin-right: 30px;
    }

    .legal{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-family: 'Open Sans', sans-serif;
      font-weight: 300;
    }

    .footer a:link {
      text-decoration: none;
      color: white;
    }

    .footer a:visited {
      text-decoration: none;
      color: white;
    }

    .footer a:hover {
      text-decoration: none;
      color: white;
    }

    .footer a:active {
      text-decoration: none;
      color: white;
    }

    .mission img{
      width: 100%;
      filter: brightness(30%);
    }

    .mission{
            position: relative;
            display: inline-block; /* Make the width of box same as image */
    }

    .mission .text{
        display: flex;
        flex-direction: column;
        align-items: center;
            position: absolute;
            font-family: 'Open Sans', sans-serif;
            z-index: 950;
            margin: 0 auto;
            left: 0;
            color: #FFFFFF;
            right: 0;
            top: 25%; /* Adjust this value to move the positioned div up and down */
            text-align: center;
            width: 60%; /* Set the width of the positioned div */
            font-size: 2em;
        }

    .title h1{
      font-family: "Arvo", sans-serif;
    }

    .team{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-top: 130px;
      padding-bottom: 100px;
      font-family: 'Open Sans', sans-serif;
      background-color: #F7F7F7;
    }

    .team img{
      width: 75%;
      height: auto;
      position: relative;
    }

    .meetus{
      display: flex;
      flex-direction: column;
      margin-right: none;
      width: 75%;
      height: auto;
      font-size: 120%;
      position: relative;
      font-size: 2em;
      margin-bottom: 90px;
      text-align: justify;
    }

    .meetus_title{
      display: flex;
      justify-content: center;
      margin-bottom: 30px;
    }
    .us{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-left:none;
      padding-right:none;
      padding-bottom: 20px;
      width: 100%;
    }

    .us_all{
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
    }

    .us_me{
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: none;
      margin-bottom: 90px;
      font-family: 'Open Sans', sans-serif;
      width: 100%;
    }

    .us_me img{
      width: 300px;
      height: auto;
      border-radius: 50%;
    }

    .me_title{
      margin-top: 50px;
      margin-bottom: 10px;
      width: 75%;
      font-size: 2.5em;
    }

    .me_title p{
      font-weight: 600;
      font-size: 1.2em;
    }

    .me_descript{
      width: 75%;
      text-align: justify;
      margin-bottom: 100px;
      font-size: 1.5em;
    }

}
